@model CheckMVC.Models.tblProduct
@{
    ViewBag.Title = "Create";
}

<h2>Add a new Product</h2>

@using (Html.BeginForm("Create", "Product", FormMethod.Post,new { enctype="multipart/form-data" }))
            {
                <table>
                    <tr>
                        <td>Enter Product Name:</td>
                        <td>@Html.EditorFor(model => model.prod_name, new { htmlattibutes = new { @class = "form-control" } })</td>
                    </tr>
                    <tr>
                        <td>Enter Product Price:</td>
                        <td>@Html.EditorFor(model => model.prod_price, new { htmlattibutes = new { @class = "form-control" } })</td>
                    </tr>
                    <tr>
                        <td>Enter Product Qty:</td>
                        <td>@Html.EditorFor(model => model.prod_qty, new { htmlattibutes = new { @class = "form-control" } })</td>
                    </tr>
                    <tr>
                        <td>Choose a Product image:</td>
                        <td><input type="file" name="postedFile" class="form-control"/></td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" name="submit" value="Add Product" class="btn btn-success" />

                        </td>
                    </tr>
                    <tr>

                    </tr>
                </table>
            }

